/* Main container for the calculator */
.calculatorContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.display input {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  font-size: 24px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  text-align: right;
}

/* Grid layout for buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 4 buttons per row */
  grid-gap: 10px;
}

/* Basic button styles */
.button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: white;
}

/* Color for number buttons */
.button {
  background-color: rgb(134, 133, 133); /* Green for numbers */
}

.button:hover {
  background-color: rgb(90, 89, 89); /* Darker green on hover */
}

/* Special buttons */
.clearButton {
  background-color: #f44336; /* Red for clear */
  border-radius: 5px;
  font-size:xx-large;
  color: white;
}

.clearButton:hover {
  background-color: #e53935; /* Darker red on hover */
}

.equalsButton {
  background-color: green; /* Blue for equals */
  font-size:xx-large;
  color: white;
  border-radius: 5px;
}

.equalsButton:hover {
  background-color: rgb(2, 112, 2); /* Darker blue on hover */
}

.button:active {
  background-color: #ccc; /* Grey when button is pressed */
}

/* Operator buttons */
.operatorButton {
  font-size: xx-large;
  background-color: #FF9800; /* Orange for operators (+, -, *, /) */
  border-radius: 5px;
}

.operatorButton:hover {
  background-color: #FB8C00; /* Darker orange on hover */
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .calculator {
    width: 100%;
    padding: 15px;
  }

  .buttons {
    grid-gap: 8px;
  }

  .button {
    padding: 15px;
    font-size: 16px;
  }
}
