@tailwind base;
@tailwind components;
@tailwind utilities;

/*input {
  @apply w-full max-w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}*/

/* Force light mode */
html {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html {
      color-scheme: light;
  }
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}