/* vis.module.css */

.inputField {
    margin-top: 4px;
    margin-bottom: 10px; 
    padding: 3px 10px;
    width: 60%;
    border: solid 1px grey;
    border-radius: 5px;
    font-family: serif;
    /*border: 2px solid slategray; /* Set a thicker border to visualize the effect */
    /*border-image: linear-gradient(90deg, black 20%, orange 20%, orange 40%, black 40%, black 60%, orange 60%, orange 80%, black 80%) 1;
    /*border-radius: 7px;*/
}

/*.border {
    border: 2px solid; 
    border-image: linear-gradient(90deg, black 20%, orange 20%, orange 40%, black 40%, black 60%, orange 60%, orange 80%, black 80%) 1;
    box-shadow: 7px 6px #d3d2d2;
}*/


.inputField::placeholder {
    color: rgb(99, 98, 98); /* Change to your preferred color */
    opacity: 1;
    text-transform: capitalize;
}

.nameList{
    padding: 6px;
    width: 150px;
    margin-right: 10px;
}

.gotologout{
    background-color: red;
    color: white;
    font-family: serif;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 4px #d3d2d2;
    margin-left: 10px;
}

.submitbtn{
    background-color: black;
    color: white;
    font-family: serif;
    padding: 5px 10px;
    border-radius: 6px;
    
    width: fit-content;
}

.gotoStock{
  font-size:xx-large;
  
  background-color: whitesmoke;
  padding: 4px 4px;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 5px 4px #d3d2d2;
  margin-left: 10px;
  
}

.gotoMedia{
   margin-left: 12px; 
   font-size: small;
   text-decoration-line: underline;
   text-underline-offset: 3px;
   background-color: whitesmoke;
   padding: 4px 4px;
   border-radius: 5px;
   border: solid 1px black;
   box-shadow: 5px 4px #d3d2d2;
}
